@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1rem;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.wrapper {
    display: flex;
    width: 100%;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #fafbfe;
}

.sidebar-txt{
    font-size: 16px;
}
.sidebar-logo{
    font-size: 30px !important;
    padding-left: 0px;
    padding-top: 20px;
}
/* Sticky Sidebar */
#sidebar {
    width: 320px; /* Full width by default */
    min-width: 320px;
    z-index: 1000;
    background-color: #064918;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh; /* Ensures full height */
    overflow-y: auto; /* Scrollable content if needed */
    overflow-x: hidden !important; /* Remove horizontal scrollbar from the sidebar */
    transition: all 0.25s ease-in-out;
}

/* Sidebar Content */
#sidebar .sidebar-logo {
    margin: auto 0;
}

#sidebar .sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    overflow-y: auto; /* Scrollable content inside the sidebar */
}

/* Sidebar Links */
.sidebar-nav .sidebar-link {
    display: flex;
    margin-left: 20px;
    align-items: center;
    color: #064918;
    font-size: 1rem;
}

.sidebar-footer .sidebar-link {
    display: flex;
    margin-left: 20px;
    align-items: center;
    color: #064918;
    font-size: 1rem;
}

a.sidebar-link {
    padding: 9px 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 11px;
    margin-left: 1px;
    margin-right: 15px;
    color: #064918;
    display: block;
    font-size: 12px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

a.sidebar-link:hover {
    background-color: #598D66 !important;
    color: white !important;
}

.sidebar-link i {
    font-size: 22px;
    margin-left: 10px;
    margin-right: .75rem;
}

.sidebar-item {
    position: relative;
}

/* Responsive Design */
@media (max-width: 768px) {
    #sidebar {
        width: 80px; /* Minimized width on smaller screens */
        min-width: 80px;
    }

    #sidebar .sidebar-logo a,
    #sidebar .sidebar-link span {
        display: none; /* Hide text content */
    }

    #sidebar .sidebar-link i {
        margin: 0 auto; /* Center icons */
    }
}
