@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.large-icon {
    font-size: 30px; /* Adjust this value as needed */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 80px;
    min-width: 100px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #064918;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 500px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    margin-left: 10px;
    font-size: 35px;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}


/* Style the sidebar links */
.sidebar-nav .sidebar-link {
    display: flex;
    margin-left: 20px;
    align-items: center; /* Align icon and text vertically */
    color: #064918; /* Light color for text */
    font-size: 1rem; /* Adjust font size as needed */
}
.sidebar-footer .sidebar-link {
    display: flex;
    margin-left: 20px;
    align-items: center; /* Align icon and text vertically */
    color: #064918; /* Light color for text */
    font-size: 1rem; /* Adjust font size as needed */
}
a.sidebar-link {
    padding: 9px 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 11px;
    margin-left: 1px;
    margin-right: 15px;
    color: #064918;
    display: block;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

a.sidebar-link:hover {
    background-color: #598D66 !important; /* Change background color on hover */
    color: white !important; /* Change text color on hover */
}

.sidebar-link i {
    font-size: 26px;
    margin-left: 10px;
    margin-right: .75rem;
}

.sidebar-item {
    position: relative;
}

a.sidebar-link:hover .sidebar-txt,
a.sidebar-link:hover i {
    color: white; /* Change both text and icon color on hover */
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}